layout {
  default_tab_template {
    children

    pane size=1 borderless=true {
      cwd "/home/naps62/projects/iron-wallet/iron"
      plugin location="zellij:tab-bar"
    }
  }

  tab name="bacon" focus=true {
    pane {
      command "bacon"
    }
  }

  tab name="dev" {
    pane {
      command "just"
      args "dev" 
    }
  }

  tab name="web3-demo" {
    pane {
      cwd "/home/naps62/projects/iron-wallet/web3-demo"
      command "just"
      args "dev" 
    }
  }
}
