vim/bundle
vim/plugged
vim/undo/*
ssh/*
!ssh/config

config/*
!config/awesome
!config/terminator
!config/spec
!config/htop

xboomx/xboomx.db

bin.local/placer
bin.local/ld.gold
vim/spell
vim/plugged
vim/undo

nvim/.netrwhist

xmonad/*
!xmonad/xmonad.hs
