config/nvim/bundle
config/nvim/plugged
config/nvim/undo/*
ssh/*
!ssh/config

config/*
!config/terminator
!config/spec
!config/htop
!config/nvim
!config/git
!config/i3
!config/i3status
!config/base16-shell
!config/git-radar
!config/zsh
!config/yaourt
!config/ripgrep
!config/dunst
!config/Xresources
!config/polybar
!config/alacritty
!config/fontconfig
!config/compton
!config/feh
!config/mpv
!config/rofi
!config/mimeapps.list
config/nvim/.netrwhist
config/dunst/dunstrc.bac

xboomx/xboomx.db

bin.local/placer
bin.local/ld.gold
vim/spell
vim/plugged
vim/undo
bin/cerebro*
bin/pgweb*
bin/*.AppImage

nvim/.netrwhist

xmonad/*
!xmonad/xmonad.hs
