[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "vendor/git-radar"]
	path = vendor/git-radar
	url = git@github.com:michaeldfallen/git-radar.git
[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "i3lock-fancy"]
	path = vendor/i3lock-fancy
	url = git://github.com/meskarune/i3lock-fancy.git
[submodule "vendor/i3lock-fancy"]
	path = vendor/i3lock-fancy
	url = git://github.com/meskarune/i3lock-fancy.git
[submodule "vendor/tmux-themepack"]
	path = vendor/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "vendor/rofi-screenshot"]
	path = vendor/rofi-screenshot
	url = https://github.com/ceuk/rofi-screenshot
[submodule "config/spicetify/Themes"]
	path = config/spicetify/Themes
	url = git://github.com/morpheusthewhite/spicetify-themes.git
[submodule "vendor/rofi-chrome"]
	path = vendor/rofi-chrome
	url = https://github.com/tcode2k16/rofi-chrome.git
