config/nvim/bundle
config/nvim/plugged
config/nvim/undo/*
ssh/*
!ssh/config

config/*
!config/sway
!config/htop
!config/nvim
!config/git
!config/i3
!config/i3status
!config/base16-shell
!config/zsh
!config/ripgrep
!config/Xresources
!config/polybar
!config/alacritty
!config/fontconfig
!config/picom
!config/feh
!config/mpv
!config/rofi
!config/mimeapps.list
!config/tmux
!config/proselint
!config/starship
config/nvim/.netrwhist
config/zsh/.zcompdump

vim/spell
vim/plugged
vim/undo
bin/cerebro*
bin/pgweb*
bin/*.AppImage
cache
