[Unit]
Description=Noisetorch Noise Cancelling
Requires=sys-devices-pci0000:00-0000:00:08.1-0000:2a:00.3-usb3-3\x2d1-3\x2d1.3-3\x2d1.3:1.0-sound-card2-controlC2.device
After=sys-devices-pci0000:00-0000:00:08.1-0000:2a:00.3-usb3-3\x2d1-3\x2d1.3-3\x2d1.3:1.0-sound-card2-controlC2.device
ConditionHost=solaria

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/noisetorch -i -s alsa_input.usb-Blue_Microphones_Yeti_Stereo_Microphone_REV8-00.analog-stereo -t 95
ExecStop=/usr/bin/noisetorch -u

[Install]
WantedBy=default.target
