global !p
from snippet_helpers import *
import os
endglobal

snippet comp "SuitCSS Component"
.`!p snip.rv = scss_component_name(path)` {
	$0
}
endsnippet

snippet mod "SuitCSS Modifier"
.`!p snip.rv = scss_component_name(path)`.`!p snip.rv = scss_component_name(path)`--$1 {
	$0
}
endsnippet

snippet state "SuitCSS State"
.`!p snip.rv = scss_component_name(path)`.`!p snip.rv = scss_component_name(path)`.is-$1 {
	$0
}
endsnippet

snippet util "SuitCSS Utility"
.u-$1 {
	$0
}
endsnippet
