//
// catppuccin-mocha
//
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #ff3ac6;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #f9e2af;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

* {
  all: unset;
  font-family: Material Design Icons, Fira Code;
}


//
// color theming
//

tooltip.background,
.window,
.bar.hover {
  background-color: $crust;
}

.memory * {
  color: $mauve;
}
.cpu * {
  color: $peach;
}
.battery * {
  color: $red;
}

.clock {
  color: $text;
}

//
// General
//

.bar {
  // min-height: 30px;
  font-size: 18;
  transition: all 0.3s ease-in-out;
  border-radius: 10px 10px 0 0;
}

.bar.not-hover {
  opacity: 0;
  background-color: transparent;

}

// TODO: test stuff
 // .bar.not-hover {
 //   opacity: 1;
 //   background-color: $crust;
 // }

.bar.hover {
  opacity: 1;
}

.space {
  margin: 0px 10px;
}


//
// tooltip
//

tooltip.background {
  border-radius: 10px;
}

tooltip label {
  // margin: 6px;
}


//
// clock
//

.clock-time {
  font-weight: bold;
  margin-right: 5px;
}


//
// circular bars
//

.circle {
  border-radius: 10px;
  margin: 0 5;
}

.circle .icon {
  font-size: 18px;
  // font-size: 12;
  padding: 10px;
}

//
// sliders
//

.slider,
.slider trough highlight {
  border-radius: 10px;
}


//
// network
//

.network,
.volume {
  margin: 0 5px;

  & button {
    margin-right: 10;
  }

  .connected {
    color: $green;
  }

  .disconnected {
    color: $peach;
  }
}



//
// brightness
//

.bright_icon {
  font-size: 12;
  color: #e4c9af;
}

//
// sliders
//

.slider trough highlight {
  background-image: linear-gradient(to right, $yellow 30%, $peach 50%, $red 100% *50);
}

scale trough {
  background-color: $surface1;
  border-radius: 16px;
  min-height: 10px;
  min-width: 100px;
}

//
// workspaces
//

.0 , .01, .02, .03, .04, .05, .06, .011, .022, .033, .044, .055, .066{
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 5;
  min-height: 30px;
  min-width: 60px;
}

// Unoccupied
.0 {
  color: $overlay0;
}

// Occupied
.01, .02, .03, .04, .05, .06 {
  color: $text;
}

// Focused 
.011, .022, .033, .044, .055, .066 {
  font-size: 20px;
  background-color: $sky;
  color: $crust;
  font-weight: bold;
}
